

body {
  background-color: rgb(65, 65, 65);
  color: white;
}


nav {
display: flex;
justify-content: space-between;
background-color: rgb(68, 7, 126);
color: gold;
padding: 10px 20px;
margin-bottom: 20px;
}

.logo {
  font-size: 20px;
}

nav a {
  margin: 3px;
  color: goldenrod;
  text-decoration: none;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main h1 {
  color: gold;
} 

main h2, h3 {
  color: rgb(228, 224, 18);
}

main img {
  width: 540px;
  height: 360px;
}

.About{
  border-bottom: 3px;
  border-style: solid;
  margin: 5px;
}

footer {
display:flex;
justify-content: space-between;
background-color: rgb(68, 7, 126);
color: gold;
padding: 10px 20px;
margin-top: 20px;
}

.links img {
  width: 50px;
  height: 50px;
}