* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(185, 47, 167);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(68, 7, 126);
  color: gold;
  padding: 10px 20px;
}

.logo {
  font-size: 28px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(68, 7, 126);
  padding: 10px 20px;
}

nav a {
  margin: 3px;
  color: goldenrod;
  text-decoration: none;
  font-size: 16px;
}



main {
  background-color: rgb(115, 39, 187);
  display: block;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  color: gold;
  margin-bottom: 20px;
} 

h2 {
  margin-top: 50px;  
}

h2, h3 {
  color: rgb(228, 224, 18);
  margin-bottom:10px;
}

main .profile {
  width: 540px;
  height: 360px;
  margin: 20px;
}

/* for the section classes */
.About, .Projects{
  border: 3px;
  border-style: solid;
  margin: 5px;
  padding:5px;
}

p {
  margin-bottom:1rem;
}


footer {
display:flex;
justify-content: space-between;
align-items: center;
background-color: rgb(68, 7, 126);
color: gold;
padding: 10px 20px;
position:fixed;
width: 100%;
bottom: 0;
}


/* for the footer images so they aren't enormous */
.links img {
  width: 30px;
  height: 30px;
}